.navbar {
  background-color: #0c2d48;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  color: white;
}

.navbar-nav .nav-link:hover {
  color: white;
}

.navbar-brand {
  color: white;
}

.navbar-nav .nav-item {
  padding: 0 1rem;
}

.navbar .navbar-toggler {
  color: white !important;
}
.navbar-toggler-icon {
  background-color: white !important;
}

#para-header {
  font-size: 1.2rem;
  font-weight: 500;
}

#btn {
  font-size: 1.4rem;
  background-color: white;
  color: black;
  border-color: #f8d210;
  border-radius: 26px;
  padding: 6px 8px;
  display: block;
  margin: 0 auto;
}

#btn:hover {
  background-color: #f8d210;
  color: white;
}

section {
  background-color: #e1ce74;
}
