.navbar {
  background-color: #0c2d48;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  color: white;
}

.navbar-nav .nav-link:hover {
  color: white;
}

.navbar-brand {
  color: white;
}

.navbar-nav .nav-item {
  padding: 0 1rem;
}

.navbar .navbar-toggler {
  color: white !important;
}
.navbar-toggler-icon {
  background-color: white !important;
}

#para-header {
  font-size: 1.2rem;
  font-weight: 500;
}

#btn {
  font-size: 1.4rem;
  background-color: #0c2d48;
  color: white;
  border-color: white;
  border-radius: 5px;
  padding: 3px 10px;
  display: block;
  margin: 0 auto;
}

#btn:hover {
  background-color: white;
  color: black;
}

section .home {
  background-color: #1d4f78;
  max-width: 100%;
}

.card .fa {
  color: #0c2d48;
  font-size: 2rem;
  border: 1px solid black;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 1rem auto 0;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 15px;
}

section:not(:first-of-type) {
  text-align: center;
}

.card {
  box-shadow: 3px 3px #0c2d48;
  /* max-width: 600px;
  margin-inline: auto; */
}

.card-title {
  font-size: 1.2rem;
  color: #0c2d48;
}

#knowledgement p {
  font-size: 1.2rem;
}

.label-color {
  color: #0c2d48;
}

.form-floating .btn {
  font-size: 1.2rem;
  background-color: #0c2d48;
  color: white;
}

.form-floating .btn:hover {
  color: white;
}

footer .container p {
  color: #0c2d48;
  font-weight: bold;
  padding-right: 2rem;
}

footer .container .icons h5 {
  color: #0c2d48;
  padding: 0 0.2rem 0.5rem 0;
}

footer .container .icons i {
  font-size: 1.2rem;
  color: #0c2d48;
  padding: 0 0 0.7rem 0.3rem;
}
