body {
  background-color: #f8fae5;
}

.navbar {
  background-color: white;
}

.nav-item {
  padding-left: 1.2rem;
}

.nav-item .nav-link {
  font-size: 1.2rem;
  color: #337357;
}

.nav-item .nav-link:hover {
  color: #337357;
}
