body {
  background-color: #f8fae5;
}

/* start nav */

.navbar {
  background-color: white;
}

.nav-item {
  padding-left: 1.2rem;
}

.nav-item .nav-link {
  font-size: 1.2rem;
  color: #337357;
}

.nav-item .nav-link:hover {
  color: #337357;
}

.nav-item .nav-link:focus {
  color: #337357;
}

.navbar-brand:last-of-type {
  font-weight: bold;
  color: #337357;
}

/* ends nav */

.fs-5 {
  font-family: "Raleway";
  width: 52%;
  margin: auto;
}

.navbar .navbar-toggler,
.fa-bars {
  color: #337357 !important;
}

.information {
  font-family: "Raleway";
  font-weight: 300;
  max-width: 550px;
}
